*.py[co]
*.egg-info
*.log
*.orig
*__pycache__*
.hg*
.coverage
.idea
dist
build
old
nonSVN
nonSphinx
sitePrefs.cfg
builddocs.sh
appData.cfg
PsyScope*
psychopy1

psychopy/demos/coder/misc/frame*
psychopy/demos/*.psydat
psychopy/demos/*/*/*.csv
psychopy/*/*/*/data/*.xlsx
psychopy/*/*/*/data/*.psydat
psychopy/demos/*/*/*.pickle
psychopy/demos/*/*/*.psydat
psychopy/demos/*/*/*.txt

psychopy/tests/*Out.*
psychopy/tests/data/*_local.png
psychopy/tests/*htmlcov*

.DS_Store

/.ropeproject/config.py
/.ropeproject/history
/.ropeproject/objectdb
/.spyderproject
