[epydoc] # Epydoc section marker (required by ConfigParser)

# Information about the project.
name: PsychoPy
url: http://www.psychopy.org/
docformat: restructuredtext

# The list of modules to document.  Modules can be named using
# dotted names, module filenames, or package directory names.
# This option may be repeated.
modules: psychopy monitors __init__

# Write html output to the directory
output: html
target: ..\docs\reference

exclude: demos setup* _win* IDE* serial.serial* MonitorCenter