include LICENSE
include psychopy/VERSION
recursive-include psychopy *.txt
recursive-include psychopy *.zip

recursive-include psychopy *.png
recursive-include psychopy/app/themes *.json
recursive-include psychopy/app/Resources *.icns
recursive-include psychopy/app/Resources *.ico
recursive-include psychopy/app/Resources *.ttf
recursive-include psychopy/app/Resources *.psyexp
recursive-include psychopy/app/Resources *.desktop
recursive-include psychopy/app/Resources *.mp4
recursive-include psychopy/app/locale *.mo
recursive-include psychopy/app *.spec *.xsd

recursive-include psychopy/experiment *.tmpl experiment.xsd

recursive-include psychopy/monitors *.ico

recursive-include psychopy/iohub *.yaml

recursive-include psychopy/visual/textbox/fonts *.ttf
recursive-include psychopy/experiment *.xltx

recursive-include psychopy/demos/coder *.mov *.jpg *.ttf *.yaml *.py *.part *.xlsx
recursive-include psychopy/demos/builder *.psyexp *.csv *.xlsx *.wav *.yaml

recursive-include psychopy/preferences *.spec

recursive-include psychopy/tests *.mp4 *.mov *.jpg *.psyexp

recursive-include docs *.rst *.py
recursive-include docs *.rst *.py
recursive-include docs/source/_static *
recursive-include docs/source/_templates *.html
prune docs/build
prune docs/source/nonSphinx
prune windlls

recursive-include psychopy/alerts *.yaml
