recursive-include psychopy *.txt
recursive-include psychopy *.png
recursive-include psychopy.ico psychopy.icns 

recursive-include psychopy/demos *.mpg *.jpg
recursive-include psychopy/demos/builder *.psyexp *.csv

recursive-include psychopy/preferences *.spec

recursive-include psychopy/tests *.mp4 *.jpg

recursive-include docs *.rst *.py
recursive-include docs *.rst *.py
recursive-include docs/source/_static *
recursive-include docs/source/_templates *.html
prune docs/build
prune docs/source/nonSphinx
prune windlls