pylsl
python-vlc  # only for MovieStim2
pyserial
pyparallel
egi
google-api-python-client
SpeechRecognition
pyxid2
badapted
darc-experiment-toolbox
python-pygaze
-i https://pypi.sr-support.com
sr-research-pylink 