urllib3[secure]
wheel  # Allow us to install binary wheels e.g. for opencv-python
soundfile
sounddevice
pyglet==1.3.0b1
pillow
opencv-python
moviepy
pyosf
xlrd
lxml
openpyxl
gevent
psutil
msgpack-python
pyserial
pyparallel
pycrsltd
python-bidi
cffi
future
json_tricks
codecov
pytest
pytest-cov
pytest-xdist
coveralls
