urllib3[secure]
wheel  # Allow us to install binary wheels e.g. for opencv-python
matplotlib
soundfile
sounddevice
pyglet>=1.3
pillow
opencv-python
moviepy
pyosf
xlrd
lxml
openpyxl
gevent
psutil
msgpack-numpy
msgpack-python
pyserial
pyparallel
pycrsltd
python-bidi
arabic_reshaper
cffi
future
json_tricks
codecov
pytest
pytest-cov
pytest-xdist
coveralls
python-gitlab
gitpython
astunparse
esprima
