# this file allows the app to override prefsSpec.cfg in a platform-dependent way
# the settings here are intended to make the app work or feel more MAC-LIKE (darwin)

[builder]
# componentsFolders are best located in a place where they will not be overwritten when you update PsychoPy
componentsFolders = /Users/Shared/PsychoPy2/components,

[keybindings]
redo = 'Ctrl+Shift+Z'
runScript = 'Ctrl+R'
stopScript = 'Ctrl+.'
