 a{color:#005e68;text-decoration:none}
 a:hover,a:focus{color: #007784;text-decoration:underline}
 
 h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;line-height:1;color:#350052}
 h1,h2,h3{line-height:40px; color:#350052;}
 h1{font-size:20px}h2{font-size:18px}h3{font-size:16px}h4{font-size:14px}h5{font-size:12px}h6{font-size:11px}
 
.alert-info{color:#002b2f;background-color:#d3e9eb;border-color:#350052}

.navbar{*position:relative;*z-index:2;border-bottom: 5px solid #350052; margin-bottom:20px;overflow:visible}

.navbar-inner{min-height:40px;padding-right:20px;padding-left:20px;background-color:#005e68;background-image:-moz-linear-gradient(top,#005e68,#007784);background-image:-webkit-gradient(linear,0 0,0 100%,from(#007784),to(#005e68));background-image:-webkit-linear-gradient(top,#007784,#005e68);background-image:-o-linear-gradient(top,#007784,#005e68);background-image:linear-gradient(to bottom,#007784,#005e68);background-repeat:repeat-x; border:1px solid #350052;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);*zoom:1;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);box-shadow:0 1px 4px rgba(0,0,0,0.065)}

.navbar .nav>li>a:focus,.navbar .nav>li>a:hover{color:#fff;text-decoration:none;background-color:#005e68}

.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{color:#fff;text-decoration:none;background-color:#005e68;-webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);-moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);box-shadow:inset 0 3px 8px rgba(0,0,0,0.125)}

.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle{color:#fff;background-color:#005e68}

.navbar .nav>li>a{float:none;padding:10px 15px 10px;color:#fff;text-decoration:none;text-shadow:0 1px 0 #005e68}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{color:#fff;text-decoration:none;background-color:#005e68;background-image:-moz-linear-gradient(top,#007784,#005e68);background-image:-webkit-gradient(linear,0 0,0 100%,from(#007784),to(#005e68));background-image:-webkit-linear-gradient(top,#007784,#005e68);background-image:-o-linear-gradient(top,#007784,#005e68);background-image:linear-gradient(to bottom,#007784,#005e68);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0)}

.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:20px;color:#005e68;white-space:nowrap}

.navbar .brand{background-image: url(logo_io.png); background-repeat:no-repeat; width: 80px;display:block;float:left; padding:5px 0px 5px 0px;margin-left:10px; margin-top: 5px;font-size:0px;font-weight:200;color:#777;text-shadow:0 1px 0 #fff}

.navbar .brand:hover,.navbar .brand:focus{text-decoration:none}
.navbar-text{margin-bottom:0;line-height:40px;color:#777}
.navbar-link{color:#777}
.navbar-link:hover,.navbar-link:focus{color:#333}

.navbar .divider-vertical{height:40px;margin:0 9px;border-right:1px solid #005e68;border-left:1px solid #005e68}

.navbar .btn-navbar{background-color:#002b2f;*background-color:#007784;background-image:-moz-linear-gradient(top,#002b2f,#007784);background-image:-webkit-gradient(linear,0 0,0 100%,from(#002b2f),to(#007784));background-image:-webkit-linear-gradient(top,#002b2f,#007784);background-image:-o-linear-gradient(top,#002b2f,#007784);background-image:linear-gradient(to bottom,#002b2f,#007784);background-repeat:repeat-x;border-color:#007784 #007784 #002b2f;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',endColorstr='#ffe5e5e5',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075)}
 
 .navbar .btn-navbar:hover,.navbar .btn-navbar:focus,.navbar .btn-navbar:active,.navbar .btn-navbar.active,.navbar .btn-navbar.disabled,.navbar .btn-navbar[disabled]{color:#fff;background-color:#007784;*background-color:#002b2f}
 

