[Desktop Entry]
Version=1.90.dev2
Type=Application
Name=PsychoPy
GenericName=PsychoPy
Comment=Psychology software in Python
TryExec=psychopyApp.py
Exec=psychopyApp.py
Categories=Development;Education;Science;Biology;IDE
Icon=psychopy
Terminal=false
StartupNotify=true
MimeType=text/x-python;
