Source: psychopy
Section: python
Priority: optional
Maintainer: Experimental Psychology Maintainers <pkg-exppsy-maintainers@lists.alioth.debian.org>
Uploaders: Yaroslav Halchenko <debian@onerussian.com>, Michael Hanke <michael.hanke@gmail.com>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-support (>= 0.6), python (>= 2.4)
XS-Vcs-Git: git://git.debian.org/git/pkg-exppsy/psychopy.git
XS-Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/psychopy.git
Standards-Version: 3.8.1
Homepage: http://www.psychopy.org

Package: python-psychopy
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-pygame, python-wxgtk2.6, python-opengl, python-numpy
Recommends: python-imaging
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: package for creating psychology stimuli in Python
 A package for creating psychology stimuli in Python. PsychoPy
 combines the graphical strengths of OpenGL with the easy Python
 syntax to give psychophysics a free and simple stimulus presentation
 and control package.
 .
 The goal is to provide, for the busy scientist, tools to control
 timing and windowing and a simple set of pre-packaged stimuli and
 methods. It features
  - High-level powerful scripting language (Python)
  - Simple syntax
  - Uses hardware-accelerated graphics (OpenGL)
  - Integration with Spectrascan PR650 for easy monitor calibration
  - Simple routines for staircase and constant stimuli experimental
    methods as well as curve-fitting and bootstrapping
  - Simple (or complex) GUIs via wxPython
  - Easy interfaces to joysticks, mice, sound cards etc. via PyGame
  - Plays movies (MPG, DivX, AVI, QuickTime...) as stimuli
