[Desktop Entry]
Encoding=UTF-8
GenericName=Psychology Stimuli IDE
GenericName[ru]=IDE для психологических стимулов
Name=PsychoPy
Exec=psychopy %F
TryExec=psychopy
Type=Application
Terminal=false
Categories=Graphics;Science;MedicalSoftware;Development;IDE;
Icon=psychopy.xpm
