#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
DEB_PYTHON_SYSTEM = pysupport
DEB_PYTHON_MODULE_PACKAGE = python-psychopy
DEB_PYTHON_MODULE_PACKAGES = python-psychopy
include /usr/share/cdbs/1/class/python-distutils.mk

# Correct interpreter lines
install/python-psychopy::
	find $(DEB_DESTDIR) -name \*.py \
    | xargs sed -i -e '1 s,^#!.*python.*,#!/usr/bin/env python,g'

# immediately useable documentation
#DEB_COMPRESS_EXCLUDE := .py .pdf .html .css .jpg .txt
DEB_INSTALL_CHANGELOGS_ALL := CHANGELOG.txt
DEB_INSTALL_DOCS_python-psychopy := {README,TODO}.txt

# do not actually install demos -- just symlink to them
#DEB_INSTALL_EXAMPLES_python-psychopy := psychopy/demos/*

