<?php
  $this->info = array(
    // OSF project info
    'projectId' => '{osfID}',
    'projectName' => '{osfName}',
    // OSF server URL
    'osfUrl' => 'https://api.osf.io/v2/',
    // experimenter's OSF security token for this project
    'token' => '{osfToken}',
    // name of resource directory for this project on OSF server
    'osfResourceDirectory' => '{osfHtmlFolder}/resources',

    // name of the directory containing the experiment's resources,
    // both on the local experiment server and on the remote OSF server
    'resourceDirectory' => 'resources',
    // name of the directory to which participant's data should be sent
    // both on the local experiment server and on the remote OSF server
    'dataDirectory' => '{osfDataFolder}',

    // experimenter contact details
    'experimenterEmail' => {email},
    // SMTP server settings:
    'smtpServer' => '',
    'smtpUsername' => '',
    'smtpPassword' => '',
    'smtpSecure' => 'tls', // 'ssl'
    'smtpTcpPort' => 587
  );
?>