[epydoc] # Epydoc section marker (required by ConfigParser)

# Information about the project.
name: PsychoPy
url: https://www.psychopy.org/
docformat: restructuredtext

# The list of modules to document.  Modules can be named using
# dotted names, module filenames, or package directory names.
# This option may be repeated.
modules: psychopy monitors __init__
exclude: demos setup* _win* app* serial.serial* MonitorCenter visual.AlphaStim _parallel _shadersPygame _shadersPyglet makeMovies visual.calib ext tests* configobj* preferences

# Write html output to the directory
output: html
target: build/html/epydoc

graph: all