name: PsychoPy flake

on: [push]

jobs:

  testflake:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false  # debugging builds lets see them all!
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: [3.6, 3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        # flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

#    - name: Check bdist/sdist
#      # checks whether different forms of build work (e.g. missing files in sdist)
#      run: |
#        python setup.py build
#        # Build & install sdist
#        python setup.py sdist --formats=gztar
#        pip install --no-deps dist/PsychoPy-*.tar.gz
#        pip uninstall --yes psychopy
#        # Build & install wheel
#        python setup.py bdist_wheel
#        pip install --no-deps dist/PsychoPy-*.whl
#        # uninstall the build (but not the dependencies)
#        pip uninstall --yes psychopy
